<nav class="navbar navbar-inverse square-corners" id="all-navbar-nav-1">
    
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"  id="all-navbar-header-1">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#all-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a brand-active class="navbar-brand" ui-sref="home">
                <span class="glyphicon glyphicon-home active"></span>
            </a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="all-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li is-active class="active"><a ui-sref="home">Home</a></li> -->
                <li is-active><a ui-sref="education">Education</a></li>
                <li is-active><a ui-sref="experience">Experience</a></li>
                <li is-active><a ui-sref="skills">Skills</a></li>
                <li is-active><a ui-sref="projects">Projects</a></li>
                <li is-active><a ui-sref="other">Other</a></li>
                <li is-active><a ui-sref="resume">Resume</a></li>
            </ul>
            
        
            <ul class="nav navbar-nav navbar-right">
                <li nav-click><a ui-sref="about-me">About Me</a></li>
                <li nav-click><a ui-sref="contact">Contact</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle no-close" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Social Profiles <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="ext-link" href="https://www.facebook.com/djmontanez"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                        <li><a class="ext-link" href="https://www.linkedin.com/in/dmontanez86"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                    </ul>
                </li>
            </ul>            
        </div>
    </div>
</nav>