.comp-logo {
  height: 100px;
  padding-bottom: 5px;
}
html {
  overflow: hidden;
}
.page-container {
  background-color: white;
}
.page-header {
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: white;
}
.full-width {
  padding: 0;
  margin: 0;
  width: 100%;
}
.square-corners {
  border-radius: 0;
}
.content-panel {
  height: 100%;
  background-color: #f0f0f0;
  padding: 15px 0 15px 0;
}
.center-content {
  margin: 0 15% 0 15%;
}
.navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
.panel-default {
  background-color: #F2F2F7;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-radius: 0px;
  -webkit-box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 8px 4px 0px rgba(0, 0, 0, 0.5);
}
/* State Change Transitions */
.slideup {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -999;
  overflow-x: hidden;
}
.slideup.ng-enter,
.slideup.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.slideup.ng-enter {
  top: 100%;
}
.slideup.ng-enter-active {
  top: 120px;
}
.slideup.ng-leave {
  top: 120px;
}
.slideup.ng-leave-active {
  top: -100%;
}
